@{
    ViewData["Title"] = "Detail";
}

@model Gallery

<div class="content-wrapper">
    <div class="row justify-content-center mt-4">
        <div class="col-lg-6">
            <div class="card">
                <img class="card-img-top mx-auto d-block mt-3" src="~/assets/images/@Model.Image" style="width: 50%" alt="Card image cap">
                <div class="card-body">
                    <a asp-action="Index" class="btn btn-primary">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
