@{
    ViewData["Title"] = "Gallery";
}
@model IEnumerable<hotel_back.Models.Gallery>
<link rel="stylesheet" href="~/assets/css/gallery.css" />
<div style="margin-top: 100px;" class="container">
    @foreach (var gallery in Model)
    {
        <div class="box"><img src="~/assets/images/@gallery.Image" /></div>
    }
</div>
